body {
	/* background-image: url("/universal-good-shop/res/img/sea-bg.jpg"); */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin:0;
}


#loading-div{

	position:fixed;
		margin:auto
}


.container {
	margin: auto;
	width: 80%;
	height: auto;
	border: solid 1px;
	padding:0;
	background-color: white
}

.header {
	width: 100%;
	height: 100px;
	margin:0;
	padding:0;
	border: solid 1px;
}

.footer {
	width: 100%; 
	margin:0;
	padding:0;
	border: solid 1px;
}

.login-form {
	font-size: 20px;
	font-family: Segoe UI;
	text-align: left;
	/* border-radius: 30px; */
	left: 25%;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.6);
	color: black;
}



.wrapper-login-form {
	margin-left: 65%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	text-align: center;
	margin-right: 10%;
	margin-top: 10%
}

/**CRUD**/
#entity-input-form {
	margin:auto;
	height:70%;
	overflow:scroll;
	position:fixed;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	text-align: left;
	padding:20px;
	 
}

.entity-record:hover{
	cursor: pointer;
	background-color: olive;
	color:white;
}


/******MENUS*******/
 
ul#menu-1 li{
	display: inline;
}